.wrapper{
    width: 100vw;
    background-color: antiquewhite;
}
.add{
    border-radius: 50%;
    background-color: aquamarine;
    width: 200px;
    height: 500px;
    transform:scale(1) translateX(-0.000309348px) translateY(-0.000476416px) translateZ(0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
   
}